@import "tailwindcss";

:root {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --animate-pulse-slow: pulse 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
